# Enforce Unix (LF) line endings for all text files
* text=auto eol=lf

# Explicit rules for certain types
*.sh text eol=lf
*.hcl text eol=lf
*.tf  text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.py  text eol=lf
*.js  text eol=lf
*.ts  text eol=lf
*.json text eol=lf
*.md  text eol=lf
*.txt text eol=lf

