<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meetup Spot</title>
</head>
<body>
    <h1>Meetup Spot</h1>
    <p>Latitude: {{ lat }}</p>
    <p>Longitude: {{ lng }}</p>

    <div id="map" style="height: 500px; width: 100%;"></div>

    <h2>Currently Selected Meetup Spot:</h2>
    <div id="selected-spot">
        <p>Select a marker to see details here.</p>
    </div>
    </div>

    <!-- <h2>Nearby Places:</h2>
    <ul>
        {% for place in nearby_places %}
            <li>{{ place.name }}</li>
        {% empty %}
            <li>No places found</li>
        {% endfor %}
    </ul> -->
</body>

<script src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&libraries=geometry,places&callback=initMap" async defer></script>

{{ nearby_places |json_script:"nearby_places" }}
{{ user_id |json_script:"user_id" }}
{{ recipient_id|json_script:"recipient_id" }}


<script>
    let map, polyline = null;
    let current_user = new Object();
    let user_id = JSON.parse(document.getElementById('user_id').textContent);
    console.log('current_user:', user_id);
    document.addEventListener('DOMContentLoaded', function() {
        console.log("DOM loaded");
        // make sure DOM is loaded
        // get current logged in user info
        fetch(`/api/get-profile/${user_id}?format=json`)
        .then(response => response.json())
        .then(data => {
            console.log('data:', data.address);
            current_user.first_name = data.first_name;
            current_user.last_name = data.last_name;
            current_user.email = data.email;
            current_user.id = data.id;
            current_user.address = data.address;
        });
    });

    function initMap() {
        var latLng = { lat: parseFloat("{{ lat }}"), lng: parseFloat("{{ lng }}") };
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 14,
            center: latLng
        });

        var infoWindow = new google.maps.InfoWindow();

        var nearbyPlaces = JSON.parse(document.getElementById('nearby_places').textContent);

        console.log(nearbyPlaces);

        nearbyPlaces.forEach(function(place) {
            var marker = new google.maps.Marker({
                position: { lat: place.geometry.location.lat, lng: place.geometry.location.lng },
                map: map,
                title: place.name
            });

            marker.addListener('click', function() {
                var service = new google.maps.places.PlacesService(map);
                var markerInfo;
                service.getDetails({ placeId: place.place_id }, function(result, status) {
                    if (status === google.maps.places.PlacesServiceStatus.OK) {
                        infoWindow.setContent(
                            '<div><strong>' + result.name + '</strong><br>' +
                            '<img src="' + result.photos[0].getUrl({maxWidth: 100, maxHeight: 100}) + '" alt="Place image"><br>' +
                            'Rating: ' + result.rating + '<br>' +
                            result.formatted_address + '</div>'
                            + '<br><a href="https://www.google.com/maps/place/?q=place_id:' + result.place_id + '" target="_blank">View on Google Maps</a>'
                        );
                        infoWindow.open(map, marker);

                        selected_spot = document.getElementById('selected-spot')

                        directionsBtn = document.createElement('button')
                        directionsBtn.innerHTML = 'Get Directions'
                        directionsBtn.addEventListener('click', function() {
                            getRoute(place.geometry.location);
                        });
                        
                        
                        selected_spot.innerHTML = '';
                        
                        if (polyline) {
                            polyline.setMap(null);
                        }

                        newInfoBox = document.createElement('div')
                        newInfoBox.innerHTML = '<div><strong>' + result.name + '</strong><br>' +
                            'Rating: ' + result.rating + '<br>' +
                            result.formatted_address + '</div>'

                        confirmBtn = document.createElement('button')
                        confirmBtn.innerHTML = 'Confirm this spot'

                        confirmBtn.addEventListener('click', function() {
                            alert('You have confirmed ' + result.name + ' as your meetup spot.');
                            confirmLocation(result.name, place.geometry.location);
                        });

                        selected_spot.appendChild(newInfoBox)
                        selected_spot.appendChild(confirmBtn)
                        selected_spot.appendChild(directionsBtn);
                    } else {
                        selected_spot = document.getElementById('selected-spot')
                        selected_spot.innerHTML = '';
                        selected_spot.innerHTML = '<p>No details found for this place.</p>';
                    }
                });
            });
        });
    }

    // Function to get the route between the user's location and the selected place
    function getRoute(destination) {

        // get current users address
        console.log(current_user.address)

        var origin = { lat: current_user.address.lat, lng: current_user.address.lng };
        console.log('origin:', origin)
        // Make an API request to get the route
        fetch(`get-directions/?oriLat=${origin.lat}&oriLng=${origin.lng}&destLat=${destination.lat}&destLng=${destination.lng}`)
        .then(response => response.json())
        .then(data => {
            console.log(data)
            routeData = data.routes[0];

            var path = google.maps.geometry.encoding.decodePath(routeData.polyline.encodedPolyline);
            // Create a polyline using the decoded path
            polyline = new google.maps.Polyline({
                path: path,
                geodesic: true,
                strokeColor: '#FF0000',
                strokeOpacity: 1.0,
                strokeWeight: 5
            });
            polyline.setMap(map);

            // get selected spot
            selected_spot = document.getElementById('selected-spot')
            // create new div
            routeInfo = document.createElement('div')
            // add route info to div
            routeInfo.innerHTML = 'This will take you ' + routeData.duration + ' (' + routeData.distanceMeters + 'km) to get to the meetup spot.'
            // append div to selected spot
            selected_spot.appendChild(routeInfo)
        })
        .catch(error => {
            console.error('Error fetching the route:', error);
        });
    }

    function confirmLocation(name, location) {
        // print name and location
        console.log("Location Name:", name, " Location:", location);

        // get the meeting request object
        const sender_id = current_user.id;
        const recipient_id = JSON.parse(document.getElementById('recipient_id').textContent);

        fetch(`/api/get-meeting-requests/?sender=${sender_id}&recipient=${recipient_id}`)
            .then(response => response.json())
            .then(data => {
                console.log('Meeting Request:', data);
                // Handle the meeting request data
                const mr = data[0]; // Assuming the first meeting request is the one you want to update
                mr.location_name = name;
                mr.lat = location.lat;
                mr.lng = location.lng;

                // Send the update request to the API endpoint
                fetch(`/api/update-meeting-request/${mr.id}/`, {
                    method: 'PATCH',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCookie('csrftoken') // Include CSRF token for security
                    },
                    body: JSON.stringify({
                        location_name: mr.location_name,
                        lat: mr.lat,
                        lng: mr.lng
                    })
                })
                .then(response => response.json())
                .then(updatedData => {
                    console.log('Updated Meeting Request:', updatedData);
                    // Handle the updated meeting request data
                    window.location.href = '/my-profile/';
                })
                .catch(error => {
                    console.error('Error updating the meeting request:', error);
                });
            })
            .catch(error => {
                console.error('Error fetching the meeting request:', error);
            });
    }

    // Function to get the CSRF token from cookies
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>
</html>
