/* https://stackoverflow.com/questions/52682812/django-css-not-updating */
/* crtl+f5 or ctrl+shift+r to refresh css file  cache */
* {
    outline: 1px red solid;
}


body {
    font-family: Arial, sans-serif;
    background-color:cornflowerblue;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.head {
    display: flex;
    align-items: center;
}

h1 a{
    color:#000;
    text-decoration: none;
    font-size: 60px;
}

#login-form {
    margin-left: auto;
}

#loginLink{
    background: #fff;
    backface-visibility: hidden;
    border-radius: .375rem;
    border-style: solid;
    border-width: .125rem;
    box-sizing: border-box;
    color: #212121;
    cursor: pointer;
    display: inline-block;
    font-family: Circular,Helvetica,sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: -.01em;
    line-height: 1.3;
    padding: .875rem 1.125rem;
    position: relative;
    text-align: left;
    text-decoration: none;
    transform: translateZ(0) scale(1);
    transition: transform .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#loginLink:not(:disabled):hover {
transform: scale(1.05);
}

#loginLink:not(:disabled):hover:active {
transform: scale(1.05) translateY(.125rem);
}

#loginLink:focus:before {
    content: "";
    left: calc(-1*.375rem);
    pointer-events: none;
    position: absolute;
    top: calc(-1*.375rem);
    transition: border-radius;
    user-select: none;
}

#loginLink:not(:disabled):active {
    transform: translateY(.125rem);
  }

.row {
    height: 50px;
    background-color: #fff;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.profile-link {
    margin-top: 5%;
    float: left;
    width: 50%;
}

.profile-link a {
    margin-left: 90.7%;
}


.title a {
    font-size: 60px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color:black;
    text-decoration: none;
}

.table-head{
    display: flex;
}

.table-head div{
    padding: 5px; 
    margin: 2px;
    background-color:black;
    color:#fff;
    font-weight: bold;
}

.table-head .status{
    flex: 10%;
    border-radius: 5px;
}

.table-head .name{
    flex: 20%;
    border-radius: 5px;
}

.table-head .location{
    flex: 20%;
    border-radius: 5px;
}

.table-head .current-projects{
    flex: 40%;
    border-radius: 5px;
}

.table-head .meeting-preferences{
    flex: 10%;
    border-radius: 5px;
}

.table-row {
    display: flex;
    height: 60px;
}

.table-row:hover{
    background-color: black;
    border-radius: 5px;
}

.table-row .status, .table-row .name, .table-row .location, .table-row .current-projects, .table-row .meeting-preferences{
    padding: 5px;
    margin: 2px;;
    background-color: #fff;
    border-radius: 5px;
}

.table-row .status{
    flex: 10%;
    text-align: center;
    background-color: #fff;
}

.table-row .name{
    flex: 20%;
    background-color: #fff;
}

.table-row .location{
    flex: 20%;
    background-color: #fff;
}

.table-row .current-projects{
    flex: 40%;
    overflow-y: auto;
    scroll-behavior: smooth;
    background-color: #fff;
}

.table-row .meeting-preferences{
    flex: 10%;
    background-color: #fff;
}

.table-row-box a{
    text-decoration: none;
    color: black;
}

.profile-header {
    position: relative
}

.bio-background {
    position: absolute;
    width: 1020px;
    height: 250px;
    background-color: #fff;
}

.profile-data{
    display: flex;
    height: 29vh;
}

.profile-page-container{
    display: flex;
}

.profile-page-left-side{
    display: flex;
    flex-direction: column;
    width: 108vh;
}

.profile-data-profile-page{
    display: flex;
    height: 30vh;
}

.profile-data2{
    width: 32.2%;
    height: 18%;
}

#remove-button{
    position: absolute;
    z-index: 1000;
}

#elevator-pitch-video {
    width: 32%;
    height: 18%;
    background-color: black;
}

.video-placeholder{
    flex: 32%;
    /* width: 32.2%;
    height: 18%; */
    background-color: black;
}

.video-upload-form-container{
    position: absolute;
}

.profile-info {
    flex: 28%;
    background-color: #fff;
    border-right: 0.5vh solid black;
    border-top: 0.5vh solid black;
}

.spacer{
    flex: 1%;
}

.spacer2{
    width: 0.5%;
}

.meetings-list{
    background-color: #fff;
    flex: 40%;
    border: 0.5vh solid black;
}

.upcoming-meetings-box{
    display: flex;
    flex-direction: column;
    overflow-y: auto;    /* Enables vertical scrolling */
    overflow-x: hidden;
    height: 20vh;
}

.meetings-row{
    height: 5vh;
    border-top: 0.5vh solid black;
    border-bottom: 0.5vh solid black;
    padding: 0.5vh;
    text-align: center;
    font-size: 2vh;
}

.incoming-meetings-row{
    height: 5vh;
    border-top: 0.5vh solid black;
    border-bottom: 0.5vh solid black;
    padding: 0.5vh;
    text-align: center;
    font-size: 2vh;
}

.meeting-headers{
    font-weight: bold;
    font-size: 3vh;
    border-bottom: 0.5vh solid black;
}

.projects-and-requests{
    display: flex;
}

.projects{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: 51vh;
    flex: 59%;
    border: 0.5vh solid black;
}

.projects-header{
    position: relative;
    height: 10%;
    width: 100%;
    border-bottom: 0.5vh solid black;
    font-size: 4vh;
}

.projects-box{
    display:flex;
    flex-direction: column;
    height: 45vh;
    overflow-y: auto;    /* Enables vertical scrolling */
    overflow-x: hidden;
}

.project-rows{
    height:10vh;
    padding: 1vh;
    border: 0.5vh dotted black;
}

#add-project{
    position: absolute;
    top: 0.3vh;
    right: 0.5vh;
    background: #fff;
    backface-visibility: hidden;
    border-radius: .375rem;
    border-style: solid;
    border-width: .125rem;
    box-sizing: border-box;
    color: #212121;
    cursor: pointer;
    display: inline-block;
    font-family: Circular,Helvetica,sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: -.01em;
    line-height: 0.5vh;
    padding: .875rem 1.125rem;
    text-align: left;
    text-decoration: none;
    transform: translateZ(0) scale(1);
    transition: transform .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    /* border: none;
    background-color: white;*/
}

#add-project:not(:disabled):hover {
    transform: scale(1.05);
}

#add-project:not(:disabled):hover:active {
    transform: scale(1.05) translateY(.125rem);
}

#add-project:focus:before {
    content: "";
    left: calc(-1*.375rem);
    pointer-events: none;
    position: absolute;
    top: calc(-1*.375rem);
    transition: border-radius;
    user-select: none;
}

#add-project:not(:disabled):active {
    transform: translateY(.125rem);
    }

.add-project-popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40vh;
    width: 90vh;
    background-color: #fff;
    border: 0.5vh solid black;

}

.close-window{
    position: absolute;
    right: 0;
}

/* meeting request */
.meeting-request-form {
    background-color: #fff;
    flex: 40%;
    height: 50vh;
    border: 0.5vh solid black;
}

.incoming-and-sent-invites{
    display: flex;
    flex-direction: column;
    flex: 40%;
}

.incoming-meeting-invites{
    background-color: #fff;
    border: 0.5vh solid black;
    height: 25vh;
}

.incoming-meetings-box{
    display: flex;
    flex-direction: column;
    overflow-y: auto;    /* Enables vertical scrolling */
    overflow-x: hidden;
    height: 20vh;
}

.sent-meeting-invites{
    background-color: #fff;
    border: 0.5vh solid black;
    height: 25vh;
}

.sent-meetings-box{
    display: flex;
    flex-direction: column;
    overflow-y: auto;    /* Enables vertical scrolling */
    overflow-x: hidden;
    height: 20vh;
}

.sent-meetings-row{
    height: 5vh;
    border-top: 0.5vh solid black;
    border-bottom: 0.5vh solid black;
    padding: 0.5vh;
    text-align: center;
    font-size: 2vh;
}

.meetings-popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40vh;
    width: 90vh;
    background-color: #fff;
    border: 0.5vh solid black;
    z-index: 999;
}

.incoming-meetings-popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40vh;
    width: 90vh;
    background-color: #fff;
    border: 0.5vh solid black;
}

.sent-meetings-popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40vh;
    width: 90vh;
    background-color: #fff;
    border: 0.5vh solid black;
}

.warning{
    background-color: #fff;
    height: 100px;
    width: 300px;
    margin-left: 66%;
    margin-top: 25%;
    position: absolute;
}

.text-chat{
    position: fixed;
    width: 100vh;
    height:82vh;
    background-color: #fff;
    margin-left: auto;
    z-index: 1000;
    top: 11vh;
    right: 10vh;
    border-radius: 1%;
    box-shadow: 30px 30px 40px 10px rgba(0, 0, 0, 0.7);
    border: 2px solid black;
}

.hidden{
    display:none;
}

#text-chat-header{
    font-size: 5vh;
    height: 6vh;
    background-color: cornflowerblue;
    border-radius: 1%;
    border-bottom: 2px solid black;
    font-weight: bold;
}

.contacts-and-messages{
    top: 6vh;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
}

#contacts{
    flex: 1 1 33%;
    height: 100%;
    border-right: 5px solid black;
    overflow-y: auto;    /* Enables vertical scrolling */
    overflow-x: hidden;
}

#contacts-header{
    font-size: 3vh;
    border-bottom: 5px solid black;
}

#contact-button{
    width: 100%;
    height: 7%;
}

#messages{
    position: relative; /* needed to the child elements will position themselves relative to itself */
    flex: 1 1 67%;
}

#messages-header{
    font-size: 6vh;
    border-bottom: 2px solid black;
}

.messages-box{
    display: flex;
    flex-direction: column;
    top: 6vh;
    bottom: 6vh;
    left: 0vh;
    right: 0vh;
    height: 80%;
    overflow-y: auto;    /* Enables vertical scrolling */
    overflow-x: hidden; 
}

.user-message{
    height: auto; 
    background-color: cornflowerblue;
    width: max-content;
    max-width: 40vh;
    word-wrap: break-word; /* Break words if too long */
    overflow-wrap: break-word;
    padding: 1vh;
    border-radius: 1vh;
    margin-left: auto;
    margin-top: 1vh;
    margin-right: 1vh;
}

.contact-message{
    background-color: gainsboro;
    width: max-content;
    max-width: 40vh;
    padding: 1vh;
    border-radius: 1vh;
    margin-top: 1vh;
    word-wrap: break-word; /* Break words if too long */
    overflow-wrap: break-word;
    margin-left: 1vh;
}

.text-box{
    position: absolute;
    bottom: 2vh;
    left: 1vh;
    right: 1vh;
    height: 4vh;
    border: 2px solid black;
    border-radius: 1vh;  
}

.message-input{
    font-size: 3vh;
    border-radius: 1vh;
    width: 84.8%;
    border: none;
    height: 100%;
    padding: 0 8.8vh 0 1vh;
}

.send-button{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 8vh;
    border-radius: 1vh;
    font-size: 2vh;
    background-color: cornflowerblue;
}

.search-meeting-spots a{
    position: absolute;
    color: black;
    margin-left: 32%;
}

.chat-header {
    width: 1020px;
    height: 50px;
    background-color: darkgray;
    display: none;
}

.chat-background {
    width: 1020px;
    height: 250px;
    /*display: flex;   Makes the container a flex container */
    background-color:#fff;
    border: 2px dotted #000;
    display: none;   
}

.dm-list {
    width: 250px;
    background-color: #f4f4f4;
    padding: 10px;
    box-sizing: border-box;
    display: flex;          /* Apply flexbox */
    flex-direction: column; /* Stack items vertically */
    gap: 10px;              /* Optional: add spacing between buttons */
    overflow-y: auto;
}

.chat-box {
    flex-grow: 1;    /* Takes up the remaining space after dmlist */
    background-color: #fff;  /* Example background color */
    padding: 10px;
    overflow-y: auto;  /* Enables scrolling if the messages overflow */
    box-sizing: border-box;
    border: 2px dotted #000;  /* Dotted border around the chatbox */
}

.message {
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin-bottom: 10px;
}

.online {
    position: absolute;
    color: black;
    margin-left: 32%;
    margin-top: 7.5%;
}

.join-breakout-room a{
    position: absolute;
    color: black;
    margin-left: 32%;
    margin-top: 9%;
}

.direct-message {
    position: absolute;
    color: black;
    margin-left: 71%;
    margin-top: 23%;
}

.or {
    position: absolute;
    color: black;
    margin-left: 45%;
}

.send-offer-for-online-meeting a{
    position: absolute;
    color: black;
    margin-left: 47%;
}

.button1{
    position: absolute;
    margin-left: 34%;
    margin-top: 4%;
}

/*css from ken whitesells code*/
/*
body {
	color: #666666;
	background-color: #c7d8df;
}
*/
video {
	background-color: #ddd;
	display: block;
	width: 800px;
	height: 450px; 
}

#appContent {
    margin-top: 20px;
	margin-left: 20px;
}

.leave {
    margin-left: 40px;
	background-color: #CA0;
	color: black;
}

#call-button {
	width: 143px;
	margin-right: 11px;
}

#header {
	margin-bottom: 11px;
}

button[aria-checked="false"] {
	text-decoration: line-through;
	color: #fff;
	background: red;
}

figure {
	position: relative;
}

figcaption {
	color: #eee;
	background: rgba(16,16,16,0.6);
	font-weight: normal;
	font-size: 14px;
	bottom: 0;
	left: 0;
	width: 160px;
}

.video-row {
    display: flex;
    justify-content: center; /* Aligns videos in the center */
}

/* search */
.search-bar{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
}

/* filtering */

.filterbar{
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

.status-filter{
    border-radius: 10px;
    font-size: 20px;
    padding: 5px 10px;
    transition: transform 0.05s ease-in-out;
    margin-right: 10px;
    background-color: #fff;
}

.status-filter-content{
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 150px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
}


.location-filter{
    border-radius: 10px;
    font-size: 20px;
    padding: 5px 10px;
    transition: transform 0.05s ease-in-out;
    margin-right: 10px;
    background-color: #fff;
}

.location-filter-content{
    display: none;
    position: ab;
    background-color:#fff;
    min-width: 150px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
}

#meeting-preferences-filter{
    border-radius: 10px;
    font-size: 20px;
    padding: 5px 10px;
    transition: transform 0.05s ease-in-out;
    margin-right: 10px;
    background-color: #fff;
}

.status-filter:active, .location-filter:active, #meeting-preferences-filter:active {
    transform: scale(0.95);
}

.show {
    display: block;
}

/*login page */

.authentication-box{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 85vh;
    width: 70vh;
    background-color: #fff;
    z-index: 999;
    border-radius: 5vh;
    background-color: whitesmoke;
    padding: 1vh;
}

.authentication-header{
    display: flex;
    justify-content: center;
    font-size: 6vh;
    font-weight: bold;
}

.dont-have-an-account{
    margin-top: 10%;;
    margin-left: 5%;
    font-size: 3vh;
}

.sign-in-form{
    font-size: 3vh;
    display: flex;
    flex-direction: column;
}

.login-field-header{
    margin-left: 5%;
    font-size: 2vh;
    padding: 1vh;
}

.login-input-box input{
    margin-left: 5%;
    width: 90%;
    border-radius: 1vh;
    height: 5vh;
    border: none;
    font-size: 3vh;
    border:cornflowerblue 0.2vh solid;
    background-color: #fff;
}

.login-input-box input::placeholder{
    color: transparent;
}

.login-button-class{
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.login-button{
    text-align: center;
    background: #fff;
    backface-visibility: hidden;
    border-radius: .375rem;
    border-style: solid;
    border-width: .125rem;
    box-sizing: border-box;
    color: #212121;
    cursor: pointer;
    display: inline-block;
    font-family: Circular,Helvetica,sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: -.01em;
    line-height: 1.3;
    padding: .875rem 1.125rem;
    position: relative;
    text-decoration: none;
    transform: translateZ(0) scale(1);
    transition: transform .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.login-button:not(:disabled):hover {
    transform: scale(1.05);
}

.login-button:not(:disabled):hover:active {
    transform: scale(1.05) translateY(.125rem);
}

.login-button:focus:before {
    content: "";
    left: calc(-1*.375rem);
    pointer-events: none;
    position: absolute;
    top: calc(-1*.375rem);
    transition: border-radius;
    user-select: none;
}

.login-button:not(:disabled):active {
    transform: translateY(.125rem);
}


/* sign up page */
.signup-container{
    display: flex;
}

.signup-left-side{
    display: flex;
    flex-direction: column;
    width: 50vw;
    background-color: whitesmoke;
    height: 100vh;
}

.signup-right-side{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    height: 100vh;
    font-size: 10rem;
}

.signup-field-header{
    margin-left: 20%;
    font-size: 2vh;
    padding: 1vh;
    font-weight: bold;
}

.signup-input-box{
    display: flex;
    justify-content: center;
}

.signup-input-box input{
    width: 60%;
    border-radius: 1vh;
    height: 3vh;
    border: none;
    font-size: 3vh;
    border:cornflowerblue 0.2vh solid;
    background-color: #fff;
}

.signup-input-box select{
    width: 60%;
    border-radius: 1vh;
    height: 3vh;
    border: none;
    font-size: 3vh;
    border:cornflowerblue 0.2vh solid;
    background-color: #fff;
}

.signup-input-box input::placeholder{
    color: transparent;
}

.signup-button-class{
    margin-top: 1%;
    display: flex;
    justify-content: center;
}

.signup-button{
    text-align: center;
    background: #fff;
    backface-visibility: hidden;
    border-radius: .375rem;
    border-style: solid;
    border-width: .125rem;
    box-sizing: border-box;
    color: #212121;
    cursor: pointer;
    display: inline-block;
    font-family: Circular,Helvetica,sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: -.01em;
    line-height: 1.3;
    padding: .875rem 1.125rem;
    position: relative;
    text-decoration: none;
    transform: translateZ(0) scale(1);
    transition: transform .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.signup-button:not(:disabled):hover {
    transform: scale(1.05);
}

.signup-button:not(:disabled):hover:active {
    transform: scale(1.05) translateY(.125rem);
}

.signup-button:focus:before {
    content: "";
    left: calc(-1*.375rem);
    pointer-events: none;
    position: absolute;
    top: calc(-1*.375rem);
    transition: border-radius;
    user-select: none;
}

.signup-button:not(:disabled):active {
    transform: translateY(.125rem);
}

.signup-header{
    margin-left: 20%;
}