{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <link rel="stylesheet" href="{% static 'styling.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static 'img/logo.png' %}">
    <title>ProjectPals</title>
    
</head>
<body>
    <div class="container">
        <div class="head">
            <h1><a href="/">ProjectPals</a></h1>
            <div class="head-buttons">
                {% if user.is_authenticated and request.path == '/my-profile/' %}
                    <form id="login-form" action="{% url 'account_logout' %}" method="get">
                        <button type="submit" id="loginLink" >Logout</button>
                    </form>
                    <button type="submit" id="loginLink" class="message-button">&#9993;</button>
                    <button type="submit" id="loginLink" class="save-for-later">&starf;</button>
                {% elif user.is_authenticated and request.path != '/my-profile/' %}
                    <form id="login-form" action="/my-profile" method="get">
                        <button type="submit" id="loginLink" >My Profile</button>
                    </form>
                    <button type="submit" id="loginLink" class="message-button">&#9993;</button>
                    <button type="submit" id="loginLink" class="save-for-later">&starf;</button>
                {% elif not user.is_authenticated and request.path != '/accounts/signup/' %}
                    <form id="login-form" action="{% url 'account_login' %}" method="get">
                        <button type="submit" id="loginLink">Login</button>
                    </form>
                {% endif %}
            </div>
        </div>
        <div class="text-chat hidden">
            <header id="text-chat-header">Messages</header>
            <div class="contacts-and-messages">
                <section id="contacts">
                    <header id="contacts-header">Contacts</header>
                </section>
                <section id="messages">
                    <header id="messages-header"></header>
                    <div class="messages-box"></div>
                    <div class="text-box">
                        <input type="text" class="message-input" placeholder="Enter your message">
                        <button type="button" class="send-button" onClick=sendMessage() disabled>Send</button>
                    </div>
                </section>
            </div>
        </div>
        <div class="favorites hidden"><!--have to add context processor to be able to access favorites on every template-->
            <header id="favorites-header">Favorites</header>
            {% for favorite in favorites %}
                <div class="favorite">
                    <p>{{ favorite }}</p>
                </div>
            {% endfor %}
        </div>
    {% block content %}
    {% endblock %}

<script>
    //logic that lets you hide text chat
    document.querySelector('.message-button').addEventListener('click', function() {
        document.querySelector('.text-chat').classList.toggle('hidden');
    });
    
    //logic that lets you click enter to send message
    document.addEventListener("keydown", function(event) {
    if (event.key === "Enter") {
        document.querySelector(".send-button").click(); // Simulate a button click
    }
});
</script>

{{user.id|json_script:"user_id"}}

<script>
    // wait for DOM to load
    let sendButton = null;
    document.addEventListener('DOMContentLoaded', function() {
        // Your code to run since DOM is loaded and ready
        console.log("DOM loaded");
        sendButton = document.querySelector(".send-button");
    });

    // chat elements
    const chatBackground = document.querySelector('.contacts-and-messages');
    const dmList = document.querySelector('#contacts');
    const chatbox = document.querySelector('.messages-box');
    let socket;

    // event listenter for socket initialization

    // user info
    const user_id = JSON.parse(document.getElementById('user_id').textContent);
    let current_user = new Object();

    // get current logged in user info
    fetch(`/api/get-profile/${user_id}?format=json`)
        .then(response => response.json())
        .then(data => {
            current_user.first_name = data.first_name;
            current_user.last_name = data.last_name;
            current_user.email = data.email;
            current_user.id = data.id;
        });
    

    // render dm list
    fetch(`/api/get-rooms/${user_id}?format=json`)
        .then(response => response.json())
        .then(data => {
            // get all chatrooms that user is in and render them as buttons
            data.forEach(room => {
                console.log('current room:', room.room_id);
                console.log(room)

                // get the name of the other user in the chatroom
                let newChatroomname = room.users[1 - room.users.findIndex(user => user.id === user_id)].first_name;

                const newChatroom = document.createElement('button');
                newChatroom.id = 'contact-button';
                newChatroom.innerHTML = newChatroomname;
                
                newChatroom.addEventListener('click', () => {
                    // disable send button
                    newChatroom.disabled = true;

                    // enable every other button
                    const chatroomButtons = document.querySelectorAll('button');
                    chatroomButtons.forEach(button => {
                        if (button !== newChatroom) {
                            button.disabled = false;
                        }
                    });

                    // close existing socket
                    if (socket) {
                        socket.close();
                        console.log('previous socket closed');
                    }

                    let messagesHeader = document.querySelector('#messages-header')
                    messagesHeader.innerHTML = newChatroomname

                    // get chat history
                    console.log('selected chatroom:', room);
                    fetch(`/api/get-chathistory/${room.room_id}?format=json`)
                        .then(response => response.json())
                        .then(data => {
                            // render chat history in chatbox depending on selected chatroom
                            console.log('chat history:', data);
                            // empty chatbox
                            chatbox.innerHTML = '';

                            let receiver_id = room.users[1].id;
                            console.log(typeof receiver_id);
                            data.forEach(chat => {
                                const newChat = document.createElement('div');
                                if (chat.sender.id === current_user.id) {
                                    newChat.innerHTML = `<div class="user-message">${chat.messageContent}</div>`;
                                }
                                else {
                                    newChat.innerHTML = `<div class="contact-message">${chat.messageContent}</div>`;
                                }
                                chatbox.appendChild(newChat);
                            });
                            chat_type = "text";
                            socket = new WebSocket(
                                'ws://'
                                + window.location.host
                                + '/ws/chat/text/'
                            );
                            waitForOpenSocket(socket).then(() => {
                                console.log('socket opened');
                                // on message received
                                socket.onmessage = function(event) {
                                    const message = JSON.parse(event.data)
                                    console.log(message);
                                    // add message to chat history
                                    const messageDiv = document.createElement('div');
                                    if (message.sender_id === current_user.id) {
                                        messageDiv.innerHTML = `<div class="user-message">${message.message}</div>`;
                                    }
                                    else {
                                        messageDiv.innerHTML = `<div class="contact-message">${message.message}</div>`;
                                    }
                                    chatbox.appendChild(messageDiv);
                                };
                                // on socket open
                                socket.onopen = function(event) {
                                    console.log("WebSocket connection opened");
                                    sendButton.disabled = false;
                                    socket.send(JSON.stringify({
                                        "profile_id": room.users[1 - room.users.findIndex(user => user.id === user_id)].id,
                                    }));
                                };
                            });
                        });
                });
                console.log('new chatroom:', newChatroom);
                dmList.appendChild(newChatroom);
            })
        });
    // wait for socket to open
        function waitForOpenSocket(socket) {
            return new Promise((resolve, _reject) => {
                console.log('waiting for socket to open');
                while (socket === null) { /* no-op */ }
                return resolve()
            });
        }
    // send message
    function sendMessage() {
        const messageInput = document.querySelector('.message-input');
        const message = messageInput.value;
        const everything = {
                "message": message,
                "sender": current_user.first_name,
                "sender_full_name": current_user.first_name + ' ' + current_user.last_name,
                "sender_id" : current_user.id,
            }
        console.log(everything);

        if (message.trim() !== '') {
            socket.send(JSON.stringify({"text": everything}));
            messageInput.value = '';
        }
    }
</script>
<script>
    //scroll to bottom of message container
    const messagesBox = document.querySelector('.messages-box');

    const observer = new MutationObserver(() => {
        messagesBox.scrollTop = messagesBox.scrollHeight; // Auto-scroll
    });

    // Observe changes in the messages box
    observer.observe(messagesBox, { childList: true });
</script>
</body>
</html>