{% extends "base.html" %}
{% load static %}

{% block content %}
        <div class="filtering-and-search">
            <form method="get" id="search-form">
                <div class="search-bar">
                    <div class="search-bar-div">
                        <input type="text" name="search" placeholder="Search for people, projects, etc..." id="searchBox" {% if search %}value={{search}}{% endif %}>
                        <button type="submit" id="searchButton">&#x1F50E;</button>
                    </div>
                    <div class="location-bar-div">
                        <i id="location-symbol">&#128205;</i>
                        <select id="location-dropdown" name="city" onchange="this.form.submit()">
                            <option value="any" {% if city == 'any' or not city %}selected{% endif %}>Select a city(any)</option>
                            {% for i in cities %}
                            <option value="{{ i.name }}" {% if city == i.name %}selected{% endif %}>{{ i.name }}</option>
                            {% endfor %} 
                        </select>
                    </div>

                    <button id="toggle-filters"><i class="fa fa-filter"></i></button>
                    <div id="filters" class="filters hidden">
                        <!-- your filter inputs here -->
                        <label><input type="checkbox"> Option A</label>
                        <label><input type="checkbox"> Option B</label>
                    </div>
                    
                    <div class="status-filter">
                        <button type="button" class="status-filter-button" id="status-filter-button">Agenda &#8964;</button>
                        <div class="status-filter-content">
                            <div class="status-filter-form">
                                <label><input type="radio" name="agenda" value="any" onchange="this.form.submit()" {% if agenda == 'any' or not agenda %}checked{% endif %}>Any</label>
                                <label><input type="radio" name="agenda" value='starting' onchange="this.form.submit()" {% if agenda == "starting" %}checked{% endif %}><img src="{% static 'img/hammer_icon.png' %}" alt="My Icon" width="15" height="15">Starting Something</label>
                                <label><input type="radio" name="agenda" value="joining" onchange="this.form.submit()" {% if agenda == "joining" %}checked{% endif %}><img src="{% static 'img/join_icon.webp' %}" alt="My Icon" width="15" height="15">Joining In</label>
                                <label><input type="radio" name="agenda" value="brainstorming" onchange="this.form.submit()" {% if agenda == "brainstorming" %}checked{% endif %}><img src="{% static 'img/brain_icon.png' %}" alt="My Icon" width="15" height="15">Brainstorming</label>
                            </div>
                        </div>
                    </div>
                    <div class="meeting-filter">
                        <button type="button" id="meeting-preferences-button">Meeting Preferences &#8964;</button>
                        <div class="meeting-filter-content">
                            <div class="meeting-filter-form">
                                <label><input type="radio" name="preference" value="any" onchange="this.form.submit()" {% if preference == 'any' or not preference %}checked{% endif %}>Any</label>
                                <label><input type="radio" name="preference" value="in-person" onchange="this.form.submit()" {% if preference == 'in-person' %}checked{% endif %}>In-Person</label>
                                <label><input type="radio" name="preference" value="video" onchange="this.form.submit()" {% if preference == 'video' %}checked{% endif %}>Video Chat</label>
                                <label><input type="radio" name="preference" value="text" onchange="this.form.submit()" {% if preference == 'text' %}checked{% endif %}>Text Chat</label>
                            </div>
                        </div>
                    </div>
                    <div class="meeting-filter">
                        <button type="button" id="pitch-preferences-button">Has Elevator Pitch &#8964;</button>
                        <div class="pitch-filter-content">
                            <div class="meeting-filter-form">
                                <label><input type="radio" name="pitch" value="any" onchange="this.form.submit()" {% if pitch == 'any' or not pitch %}checked{% endif %}>Any</label>
                                <label><input type="radio" name="pitch" value="true" onchange="this.form.submit()" {% if pitch == 'true' %}checked{% endif %}>True</label>
                                <label><input type="radio" name="pitch" value="false" onchange="this.form.submit()" {% if pitch == 'false' %}checked{% endif %}>False</label>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="engineer-table">
            <div class="table-head">
                <div class ="elevator-pitch">Elevator Pitch</div>
                <div class ="status">Agendas</div>
                <div class="name">Name</div>
                <div class="location">Location</div>
                <div class="current-projects">Projects, Interests, and Ideas</div>
                <div class="meeting-preferences">Meeting Pref</div>
            </div>
            {% for profile in page_obj %}
            <div class="table-row-box">
                {% if profile.id == user.id %} 
                    <a name="profile-button" href="my-profile/"> <!--remove this if we dont want to show the current user page in the rows of profiles-->
                {% else %}
                    <a name="profile-button" href="profile/{{profile.id}}">
                {% endif %}
                {% if profile.id != user.id %}
                    <div class="table-row">
                        <div class="row-background"></div>
                        <div class="elevator-pitch">
                            {% if profile.elevator_pitch_thumbnail %}
                                <img src="{{ profile.elevator_pitch_thumbnail.url }}" alt="My Image">
                            {% else %}
                                <img src="{% static 'img/placeholder.png' %}" alt="My Image">
                            {% endif %}
                        </div>
                        <div class="status">
                        {% if 'starting' in profile.agenda %}<div><img src="{% static 'img/hammer_icon.png' %}" alt="My Icon" width="15" height="15">Starting Something</div>{% endif %}
                        {% if 'joining' in profile.agenda %}<div><img src="{% static 'img/join_icon.webp' %}" alt="My Icon" width="15" height="15">Joining In</div>{% endif %}
                        {% if 'brainstorming' in profile.agenda %}<div><img src="{% static 'img/brain_icon.png' %}" alt="My Icon" width="15" height="15">Brainstorming</div>{% endif %}
                        </div>
                            <div class="name">
                                <span>{{ profile.first_name }}</span>
                                {% if profile.online_status_visible %}
                                    <span id="online-status-notifier">
                                    {% if profile.online_status == True %}
                                        🟢 Online
                                    {% else %}
                                        *{% if profile.last_login_within_7_days %} 
                                        Online within the past 7 days 
                                        {% elif profile.last_login_within_30_days %}
                                        Online within the past 30 days
                                        {% else %}
                                        Has not been online for at least a month
                                        {% endif %}</span>
                                    {% endif %}
                                {% endif %}
                                <div class="profile-info-for-phone">
                                    <div>Age:{{ profile.age }}</div>
                                    <span>City:{{ profile.city }}</span>
                                    <span>
                                    Agendas:{% if 'starting' in profile.agenda %}<div><img src="{% static 'img/hammer_icon.png' %}" alt="My Icon" width="15" height="15">Starting Something</div>{% endif %}
                                    {% if 'joining' in profile.agenda %}<div><img src="{% static 'img/join_icon.webp' %}" alt="My Icon" width="15" height="15">Joining In</div>{% endif %}
                                    {% if 'brainstorming' in profile.agenda %}<div><img src="{% static 'img/brain_icon.png' %}" alt="My Icon" width="15" height="15">Brainstorming</div>{% endif %}
                                    </span>
                                </div>

                            </div>
                        <div class="location">{{ profile.city }}</div>
                        <div class="current-projects-row" id="scrollBox">
                        {% if "starting" in profile.agenda %}
                            {% for project in projects %}
                                {% if project.pal.id == profile.id %}
                                    <p>Title: {{ project.title }}</p>
                                {% endif %}
                            {% endfor %}
                        {% else %} 
                        {% endif %}
                        </div>
                        <div class="current-projects-popup">
                            <div class="current-projects-popup-content">
                                {% if "starting" in profile.agenda %}
                                    <header>Current Projects</header>
                                    {% for project in projects %}
                                        {% if project.pal.id == profile.id and project.actively_recruiting == 'yes'%}
                                            <p>Title: {{ project.title }}</p>
                                            <p>Description: {{ project.description }}</p>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                {% if "joining" in profile.agenda %}
                                    <header>Interests</header>
                                    {% for interest in interests %}
                                        <div>Subject: {{ interest.subject }}</div>
                                        <div>Interested In Joining: {{ interest.interested_in_joining }}</div>
                                    {% endfor %}
                                {% endif %}
                                {% if "brainstorming" in profile.agenda %}
                                    <header>Ideas</header>
                                    {% for idea in ideas %}
                                        <div>Subject: {{ idea.subject }}</div>
                                        <div>Rough Idea: {{ idea.rough_idea }}</div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="meeting-preferences">{{ profile.meeting_preference }}</div>
                    </div>
                {% endif %}
                    </a>
            </div>
            {% endfor %}
        </div>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                {% endif %}
            </span>
</div>
    </div>
        <script>
                document.addEventListener("DOMContentLoaded", function() {
                    document.querySelector(".status-filter-button").addEventListener("click", function() {
                        document.querySelector(".status-filter-content").classList.toggle("show");
                    });
                    document.querySelector("#meeting-preferences-button").addEventListener("click", function() {
                        document.querySelector(".meeting-filter-content").classList.toggle("show");
                    });
                    document.querySelector("#pitch-preferences-button").addEventListener("click", function() {
                        document.querySelector(".pitch-filter-content").classList.toggle("show");
                    });
                /*window.addEventListener("click", function(e) {
                    if (!e.target.matches('.status-filter')) {
                        let dropdowns = document.querySelectorAll(".status-filter-content");
                        dropdowns.forEach(function(filterbar) {
                            if (filterbar.classList.contains('show')) {
                                filterbar.classList.remove('show');
                            }
                        });
                    }
                });*/
            });
        </script>

        <script>
            const scrollBox = document.getElementById('scrollBox');

            // Limit scroll distance by modifying scroll step
            scrollBox.addEventListener('wheel', function(event) {
            event.preventDefault(); // Prevent default scrolling behavior

            const scrollAmount = 10; // Set custom scroll step (e.g., 30px)

            // Scroll by a limited amount based on wheel direction
            if (event.deltaY > 0) {
                scrollBox.scrollTop += scrollAmount;
            } else {
                scrollBox.scrollTop -= scrollAmount;
            }
            }, { passive: false });
        </script>
        <script> /***
            <div class="table-row-box">
                <a name="profile-button" href="#">
                    <div class="table-row">
                        <div class="row-background"></div>
                        <div class="status">creator/online</div>
                        <div class="name">Scrib Goode</div>
                        <div class="location">Chicago, IL</div>
                        <div class="current-projects">Website that provides seamless communication for the purpose of working with fellow engineers.</div>
                        <div class="meeting-preferences">in-person</div>
                    </div>
                </a>
            </div>
            ***/ 
        </script>
        <script>
            const status_radios = document.querySelectorAll('input[name="status"]');
            const status_button = document.getElementById('status-filter-button');
            const preference_radios = document.querySelectorAll('input[name="preference"]');
            const preference_button = document.getElementById('meeting-preferences-button');
            const pitch_radios = document.querySelectorAll('input[name="pitch"]');
            const pitch_button = document.getElementById('pitch-preferences-button');

            function checkSelections() {
            // Look for any checked radio where value is NOT "any"
            const statusHasValidSelection = Array.from(status_radios).some(radio => radio.checked && radio.value !== "any");
            const preferenceHasValidSelection = Array.from(preference_radios).some(radio => radio.checked && radio.value !== "any");
            const pitchHasValidSelection = Array.from(pitch_radios).some(radio => radio.checked && radio.value !== "any");
            if (statusHasValidSelection) {
                status_button.style.backgroundColor = 'lightgreen'; // Optional: color change
            }
            if (preferenceHasValidSelection) {
                preference_button.style.backgroundColor = 'lightgreen'; // Optional: color change
            }
            if (pitchHasValidSelection) {
                pitch_button.style.backgroundColor = 'lightgreen'; // Optional: color change
            }
            }

            window.addEventListener('DOMContentLoaded', () => {
                checkSelections();
            });

            // Attach the event listener to all radios
            //radios.forEach(radio => {
            //radio.addEventListener('change', checkSelections);
            //});
        </script>
        <script>
            const searchInput = document.getElementById('searchBox');
            const searchForm = document.getElementById('search-form');
            let typingTimer;
            const debounceTime = 500; // milliseconds

            window.addEventListener('DOMContentLoaded', () => {
            if (searchInput) {
                searchInput.focus();
                // Move cursor to the end of text
                const length = searchInput.value.length;
                searchInput.setSelectionRange(length, length);
            }
            });

            searchInput.addEventListener('input', function() {
            clearTimeout(typingTimer);
            typingTimer = setTimeout(() => {
                searchForm.submit();
            }, debounceTime);
            });
        </script>

        <script>
            const current_projects_box = document.querySelectorAll('.current-projects-row');
            const current_projects_popup = document.querySelectorAll('.current-projects-popup');

            current_projects_box.forEach((box, index) => {
                box.addEventListener('mouseover', function() {
                    current_projects_popup[index].classList.toggle('show');
                    current_project
                });
                box.addEventListener('mouseout', function() {
                    current_projects_popup[index].classList.toggle('show');
                });
            });
        </script>
{% endblock %}

