{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styling.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet">
    <title>DevHub.io</title>
</head>

<body>
    <div class="container">
        <div class="website-header">
            <div class="title">
                <a href="#">DevHub.io</a>
            </div>
        <button class="button1" type="button">Edit Profile</button>
        </div>
        <br><br><br><br>
        <div class="bio-background"></div>
        <div class="elevator-pitch-video">This is {{profile.first_name}}'s profile page</div>
        <div class="repository-header">My Repositories</div>
        <div class="repository-background"></div>
        <span class="direct-message"><a href="#">Messages</a></span>
    </div>
    {% block app_content %}
    {% endblock app_content %}
</body>