{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load tz %}
{% now "U" as current_time %}
{% load meeting_logic %}
{% load timezone_utils %}


<div class="profile-data">
    {% if user.elevator_pitch %}
    <div class="my-profile-left-side">
    <div class="my-profile-left-side-top">
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="form_type" value="video_remove">
            <button type="submit" id="remove-button">Remove</button>
        </form>
        <video id="elevator-pitch-video" controls>
            <source src="{{ user.elevator_pitch.url }}" type="video/mp4">
        </video>
    {% else %}
        <div class="video-placeholder">
            <div class="video-upload-form-container">
                <form method="post" enctype="multipart/form-data" class="video-upload-form">
                    {% csrf_token %}
                    <input type="hidden" name="form_type" value="video_upload">
                    <input type="file" name="elevator_pitch" accept="video/*" required>
                    <button type="submit">Upload Video</button>
                </form>
            </div>
        </div>
    {% endif %}
    <div class="profile-info">
        <form id="edit-profile-info-form" method="POST" style= "display:none">
            {% csrf_token %}
            <input type="hidden" name="form_type" value="edit_profile_info">
            {{ edit_profile_info_form.as_p }}
            <button id="submit-profile-info-edits" type="submit">Update</button>
        </form>
        <div class="profile-info-container" id="profile-info-container">
            <p><b>Name:</b> {{user.first_name}}</p>
            <p><b>Age:</b> {{user.age}}</p>
            <p><b>City:</b> {{user.city}}</p>
            <p><b>Meeting Preference:</b> {{user.meeting_preference}}</p>
            <div><b>Agendas:</b> 
            <div>{% if 'starting' in user.agenda %} <img src="{% static 'img/hammer_icon.png' %}" alt="My Icon" width="20" height="20">Starting Something {% endif %}</div>
            <div>{% if 'joining' in user.agenda %} <img src="{% static 'img/join_icon.webp' %}" alt="My Icon" width="20" height="20">Joining In{% endif %}</div>
            <div>{% if 'brainstorming' in user.agenda %} <img src="{% static 'img/brain_icon.png' %}" alt="My Icon" width="20" height="20">Brainstorming{% endif %}</div></div>
            <p><b>Willing to Contribute to Another's Project Too:</b> {{user.open_to_contributing}}</p>
        </div>
        <button id="edit-personal-info" onclick=showForm() >Edit Personal Info</button>
    </div>
</div>

<div class="projects-and-requests">
    <div class="projects">
        <div class="projects-header">
            {% if 'starting' in user.agenda %}<span id="projects-button" onclick="showProjects()"><img src="{% static 'img/hammer_icon.png' %}" alt="My Icon" width="20" height="20">Projects</span>{% endif %}
            {% if 'joining' in user.agenda %}<span id="interests-button" onclick="showInterests()"><img src="{% static 'img/join_icon.webp' %}" alt="My Icon" width="20" height="20">Interests</span>{% endif %}
            {% if 'brainstorming' in user.agenda %}<span id="ideas-button" onclick="showIdeas()"><img src="{% static 'img/brain_icon.png' %}" alt="My Icon" width="20" height="20">Ideas</span>{% endif %}
            <button id="add-project">&#43;</button>
        </div>
        <div class="projects-box">
        {% if 'starting' in user.agenda %}
            {% for project in projects %}
            <div class="project-rows">
                <header>{{project.title}}</header>
                <div id="project-dates">{{project.start_date}} - {% if project.current %}current{% else %}{{project.end_date}}{% endif %}</div>
                <div>Actively Recruiting?: {{project.actively_recruiting}}</div>
                <div>Description: {{project.description}}</div>
                {% if project.contribution_explanation %}<div>How I would like someone to contribute: {{project.contribution_explanation}}</div>{% endif %}
                {% if project.link %}<div>Relevant Link: <a href="{{project.link}}">{{project.link}}</a></div>{% endif %}
            </div>
            {% endfor %}
        {% endif %}
        </div>
        <div class="interests-box hidden">
            {% for interest in interests %}
                <div class="project-rows">
                    <div>Subject: {{interest.subject}}</div>
                    <p>Interested In Joining: {{interest.interested_in_joining}}</p>
                </div>
            {% endfor %}
        </div>
        <div class="ideas-box hidden">
            {% for idea in ideas %}
                <div class="project-rows">
                    <div>Subject: {{idea.subject}}</div>
                    <p>Rough Idea: {{idea.rough_idea}}</p>
                </div>
            {% endfor %}
        </div>
        <div class="add-project-popup hidden" id="add-project-popup">
                <button class="close-window">X</button>
                <form class="add-project" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="form_type" value="add_project">
                    {{ project_creation_form.as_p }}
                    <button type="submit">Create</button>
                </form>
            </div>
            <div class="add-project-popup hidden" id="add-interest-popup">
                <button class="close-window">X</button>
                <form class="add-interest" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="form_type" value="add_project">
                    <header>Interest Form</header>
                    {{ interest_creation_form.as_p }}
                    <button type="submit">Create</button>
                </form>
            </div>
            <div class="add-project-popup hidden" id="add-idea-popup">
                <button class="close-window">X</button>
                <form class="add-idea" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="form_type" value="add_project">
                    <header>Idea Form</header>
                    {{ idea_creation_form.as_p }}
                    <button type="submit">Create</button>
                </form>
            </div>
    </div>
    </div>
    </div>
<div class="my-profile-right-side">
    <div class="incoming-and-sent-invites">
    <div class="meetings-list">
        <div class="meeting-headers">
            <span>Upcoming Meetings</span>
            <form id="meeting-history" action="{% url 'meeting_history' %}" method="get">
                <button type="submit" id="loginLink">Meeting History</button>
            </form>
        </div>
        <div class="upcoming-meetings-box">
            {% for meeting in meetings %}
                {% if meeting.status == "upcoming" %}
                    {% if meeting.type == 'in-person' %}
                        <button class="meetings-row" data-id="{{meeting.id}}">
                            {{meeting.date}}: Meeting with {% get_meet_user user.id meeting %} at {{meeting.meeting_request.location_name}}
                        </button>
                        <div class="meetings-popup hidden" id="meetings-popup-{{meeting.id}}">
                            <button class="close-window">X</button>
                            <p> {{meeting.sender}} & {{meeting.recipient}}'s meeting information</p>
                            <p>Message: {{meeting.description}}</p>

                            <p>
                            Proposed Time:
                            {{ meeting.start_time|timezone:request.user.timezone|date:"g:i A T" }} -
                            {{ meeting.end_time|timezone:request.user.timezone|date:"g:i AT" }}
                            on {{ meeting.start_time|timezone:request.user.timezone|date:"M d, Y" }}
                            </p>
                            <p>Location Name: {{meeting.meeting_request.location_name}} </p>
                            <p>Address: {{meeting.meeting_request.address}}</p>
                            {% if meeting.can_cancel %}
                                <form method="POST" class="cancel-meeting-form">
                                    {% csrf_token %}
                                    <input type="hidden" name="form_type" value="cancel-meeting-form">
                                    <input type="hidden" name="meeting_id" value="{{ meeting.id }}">
                                    <input type="hidden" name="cancel_user" value="{{ user.id }}">
                                    <label for="cancel_reason">Reason for cancellation:</label>
                                    <textarea name="cancel_reason" id="cancel_reason" rows="4" cols="50" required></textarea>
                                    <br>
                                    <button type="submit" >Cancel Meeting</button>
                                </form>
                            {% endif %}
                        </div>
                    {% elif meeting.type == 'video' %}
                        <button class="meetings-row" data-id="{{meeting.id}}">
                            {{meeting.date}}: Meeting with {% get_meet_user user.id meeting %} at video
                        </button>
                        <div class="meetings-popup hidden" id="meetings-popup-{{meeting.id}}">
                            <button class="close-window">X</button>
                            <p> {{meeting.sender}} & {{meeting.recipient}}'s meeting information</p>
                            <p>Proposed Time: {{meeting.start_time|timezone:request.user.timezone|time:"g:i A T"}} - {{ meeting.end_time|timezone:request.user.timezone|time:"g:i A T" }} on {{meeting.date}}</p>
                             {% if meeting.can_cancel %}
                            <form method="POST" class="cancel-meeting-form"></form>
                                {% csrf_token %}
                                <input type="hidden" name="form_type" value="cancel-meeting-form">
                                <input type="hidden" name="meeting_id" value="{{ meeting.id }}">
                                <input type="hidden" name="cancel_user" value="{{ user.id }}">
                                <label for="cancel_reason">Reason for cancellation:</label>
                                <textarea name="cancel_reason" id="cancel_reason" rows="4" cols="50" required></textarea>
                                <br>
                                <button type="submit">Cancel Meeting</button>
                            </form>
                            {% endif %}
                        </div>
                    {% endif %}
                {% elif meeting.status == "ongoing" %}
                    {% if meeting.type == "in-person" %}
                        <button class="meetings-row" data-id="{{meeting.id}}">
                            ON-GOING: meeting with {% get_meet_user user.id meeting %} at {{meeting.meeting_request.location_name}}
                        </button>
                        <div class="meetings-popup hidden" id="meetings-popup-{{meeting.id}}">
                            <button class="close-window">X</button>
                            <p> {{meeting.sender}} & {{meeting.recipient}}'s meeting information</p>
                            <p>Time: {{meeting.start_time|timezone:request.user.timezone|time:"g:i A T" }} - {{ meeting.end_time|timezone:request.user.timezone|time:"g:i A T" }} on {{meeting.date}}</p>
                            <p>Message: {{meeting.description}}</p>
                            <p>Location Name: {{meeting.meeting_request.location_name}} </p>
                            <p>Address: {{meeting.meeting_request.address}}</p>
                        </div>
                    {% elif meeting.type == "video" %}
                        <button class="meetings-row" data-id="{{meeting.id}}">
                            ON-GOING: meeting with {% get_meet_user user.id meeting %} at video
                        </button>
                        <div class="meetings-popup hidden" id="meetings-popup-{{meeting.id}}">
                            <button class="close-window">X</button>
                            <p> {{meeting.sender}} & {{meeting.recipient}}'s meeting information</p>
                            <p>Time: {{meeting.start_time|timezone:request.user.timezone|time:"g:i A T"}} - {{ meeting.end_time|timezone:request.user.timezone|time:"g:i A T"}} on {{meeting.date}}</p>
                            <p>Message: {{meeting.description}}</p>
                            <p>Location: <a href="video_chat/{{ meeting.room_token }}">{{meeting.type}}</a></p>
                        </div>
                    {% endif %}
                {% elif meeting.status == "reviewing" and not has_reviewed|dict_key:meeting.id %}
                        <button class="meetings-row" data-id="{{meeting.id}}">
                            Please review your meeting with {% get_meet_user user.id meeting %} <br> 
                        </button>
                        <div class="meetings-popup hidden" id="meetings-popup-{{meeting.id}}">
                            <button class="close-window">X</button>
                            <p>Please review {{meeting.sender}} & {{meeting.recipient}}'s meeting</p>
                            <p>Basic Details on the meeting:</p>
                            <p>Meeting Type: {{meeting.type}}</p>
                            <p>{{meeting.start_time}}</p>
                            <p>Meeting Time & Date: {{meeting.start_time|timezone:request.user.timezone|time:"g:i A T" }} - {{ meeting.end_time|timezone:request.user.timezone|time:"g:i A T" }} on {{meeting.date}}</p>
                            <br>
                            Please rate the meeting and the pal!
                            <form method="POST" class="meeting-review-form">
                                {% csrf_token %}
                                <input type="hidden" name="form_type" value="meeting-review-form">    
                                <input type="hidden" name="meeting_id" value="{{ meeting.id }}">
                                <input type="hidden" name="meeting_type" value="{{ meeting.type }}">
                                {% if user.id == meeting.sender.id %}
                                    <input type="hidden" name="reviewee_id" value="{{ meeting.recipient.id }}">
                                {% else %}
                                    <input type="hidden" name="reviewee_id" value="{{ meeting.sender.id }}">
                                {% endif %}
                                <label for="pal_attendance">Did the pal show up?</label>
                                <select name="pal_attendance" id="pal_attendance" required onchange="toggleReviewFields(this.value)">
                                    <option value="" disabled selected>Select an option</option>
                                    <option value="yes">Yes</option>
                                    <option value="no">No</option>
                                </select>   
                                <br>
                                <div id="if-yes" class="hidden">
                                    <label for="meeting_feedback">How did the meeting go?</label>
                                    <textarea name="meeting_feedback" id="meeting_feedback" rows="4" cols="50"></textarea>
                                    <br>
                                    <label for="pal_rating">Rate the pal:</label>
                                    <select name="pal_rating" id="pal_rating">
                                        <option value="1">1 Star</option>
                                        <option value="2">2 Stars</option>
                                        <option value="3">3 Stars</option>
                                        <option value="4">4 Stars</option>
                                        <option value="5">5 Stars</option>
                                    </select>
                                    <br>
                                </div>
                                <div id="if-no" class="hidden">
                                    <p>Sorry to hear. We will investigate why the user did not show up. One of our admins will take further action.</p>
                                    <label for="no_show_details">Please provide details from your side:</label>
                                    <textarea name="no_show_details" id="no_show_details" rows="4" cols="50"></textarea>
                                    <br>
                                </div>
                                <button type="submit">Submit Review</button>
                            </form>
                            <script>
                                function toggleReviewFields(value) {
                                    const ifYes = document.getElementById('if-yes');
                                    const ifNo = document.getElementById('if-no');
                                    if (value === 'yes') {
                                        ifYes.classList.remove('hidden');
                                        ifNo.classList.add('hidden');
                                    } else if (value === 'no') {
                                        ifNo.classList.remove('hidden');
                                        ifYes.classList.add('hidden');
                                    } else {
                                        ifYes.classList.add('hidden');
                                        ifNo.classList.add('hidden');
                                    }
                                }
                            </script>
                        </div>
                {% elif meeting.status == "cancelled" and not meeting.acknowledged %}
                    <!--    
                    TODO: Implement functionality to handle the scenario when a user cancels the meeting.
                    This should include any necessary cleanup, notifications, and updates to the system state.
                    -->
                    {% if user.id != meeting.cancel_user.id %}
                        <button class="meetings-row" data-id="{{meeting.id}}">
                            CANCELLED: Meeting with {% get_meet_user user.id meeting %} has been cancelled
                        </button>
                    {% endif %}
                    <div class="meetings-popup hidden" id="meetings-popup-{{meeting.id}}">
                        <button class="close-window">X</button>
                        <p>Meeting with {{meeting.recipient}} has been cancelled</p>
                        <p>Reason: {{meeting.cancel_reason}}</p>
                        <form class="acknowledge-meeting" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="form_type" value="acknowledge_meeting">
                            <input type="hidden" name="meeting_id" value="{{ meeting.id }}">
                            <button type="submit">Acknowledge</button>
                        </form>
                    </div>
                {% elif meeting.status in "declined,rescheduled" and not meeting.acknowledged %}
                    {% if user.id == meeting.sender.id %}
                        <button class="meetings-row" data-id="{{meeting.id}}">
                            Meeting with {% get_meet_user user.id meeting %} has been {{meeting.status}}
                        </button>
                        <div class="meetings-popup hidden" id="meetings-popup-{{meeting.id}}">
                            <button class="close-window">X</button>
                            <p>Meeting with {{meeting.recipient}} has been {{meeting.status}}</p>
                            {% if meeting.status == "rescheduled" %}
                                <p>{{meeting.recipient}} will reschedule this meeting...</p>
                            {% endif %}
                            <form class="acknowledge-meeting" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="form_type" value="acknowledge_meeting">
                                <input type="hidden" name="meeting_id" value="{{ meeting.id }}">
                                <button type="submit">Acknowledge</button>
                            </form>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
        <div class="incoming-meeting-invites">
            <header class="meeting-headers">Incoming Meeting Invites</header>
            <div class="incoming-meetings-box">
            {% for meeting_request in meeting_requests %}
            {% if meeting_request.status == "pending" %}
                {% if meeting_request.sender.id != user.id %}
                <button class="incoming-meetings-row" data-id="{{meeting_request.id}}">
                    {{ meeting_request.sender.first_name }} wants to meet with you
                </button> 
                <div class="incoming-meetings-popup hidden" id="incoming-meetings-popup-{{meeting_request.id}}">
                    <button class="close-window">X</button>
                    <p>{{ meeting_request.sender.first_name }} want to me with you!</p>

                    <p>
                    Proposed Time:
                    {{ meeting_request.start_time|timezone:request.user.timezone|date:"g:i A T" }}
                    -
                    {{ meeting_request.end_time|timezone:request.user.timezone|date:"g:i A T" }}
                    on {{ meeting_request.start_time|timezone:request.user.timezone|date:"M d, Y" }}
                    </p>

                    <p>Message: {{meeting_request.message}}</p>
                    {% if meeting_request.type == 'video' %}
                        <p>Location: video</p>
                    {% elif meeting_request.type == 'in-person' %}
                        <p>Location: {{meeting_request.location_name}} </p>
                        <p>Address: {{meeting_request.address}}</p>
                    {% endif %}
                    <form class="meeting-request-decision" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="form_type" value="meeting_request_decision">
                        <input type="hidden" name="meeting_request_sender_id" value="{{ meeting_request.sender.id }}">
                        <input type="hidden" name="meeting_request_recipient_id" value="{{ meeting_request.recipient.id }}">
                        <input type="hidden" name="decision" id="decision">
                        <button type="submit" onclick="document.getElementById('decision').value='accept';">Accept</button>
                        <button type="submit" onclick="document.getElementById('decision').value='decline';">Decline</button>
                        <button type="submit" onclick="document.getElementById('decision').value='reschedule';">Decline & reschedule</button><!--add in way to decline the meeting but send back meeting request with new details-->
                    </form>
                </div>   
                {% endif %}
            {% endif %}
            {% endfor %}
            </div>
        </div>
        <div class="sent-meeting-invites">
            <header class="meeting-headers">Sent Meeting Invites</header>
            <div class="sent-meetings-box">
                {% for sent_meeting in sent_meetings %}
                <!-- only show if status is pending -->
                    {% if sent_meeting.status == 'pending' %}
                        <button class="sent-meetings-row" data-id="{{sent_meeting.id}}">
                                Meeting request sent to {{sent_meeting.recipient}}
                        </button>
                        <div class="sent-meetings-popup hidden" id="sent-meetings-popup-{{sent_meeting.id}}">
                            <button class="close-window">X</button>
                            {% if sent_meeting.type == 'in-person' %}
                                <p> Location Name: {{sent_meeting.location_name}} <br>
                                <p>Address: {{sent_meeting.address}}</p>
                            {% else %}
                                <p> Location: video</p> <br>
                            {% endif %}
                                Date: {{sent_meeting.date}} <br>
                                Time: {{sent_meeting.start_time|timezone:request.user.timezone|time:"g:i A T"}} - {{sent_meeting.end_time|timezone:request.user.timezone|time:"g:i A T"}} <br>
                                Status: {{sent_meeting.status}} <br>
                                {% if sent_meeting.type == 'in-person' %}
                                    <form id="update-location-form" type="meeting_request_update">
                                        {% csrf_token %}
                                        <button type="button" name="meeting_request_update" onclick="updateLocation('{{ sent_meeting.locationUpdateURL }}')">Update Location</button>
                                    </form>
                                {% endif %}
                                <form class="cancel-sent-request-form" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="form_type" value="cancel_sent_request">
                                    <input type="hidden" name="sent_meeting_id" value="{{ sent_meeting.id }}">
                                    <button type="submit">Cancel Request</button>
                                </form>
                            </p>
                        </div>
                    {% elif sent_meeting.status == 'rescheduled' and sent_meeting.acknowledgement == 'pending' %}
                        <button class="sent-meetings-row" data-id="{{sent_meeting.id}}">
                                Meeting request with {{sent_meeting.recipient}}
                        </button>
                        <div class="sent-meetings-popup hidden" id="sent-meetings-popup-{{sent_meeting.id}}">
                            <button class="close-window">X</button>
                            <p>Meeting request with {{sent_meeting.recipient}} is being rescheduled</p>
                            <form class="sent-meeting-acknowledgement" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="form_type" value="sent-meeting-acknowledgement">
                                <input type="hidden" name="sent_meeting_sender_id" value="{{ sent_meeting.sender.id }}">
                                <input type="hidden" name="sent_meeting_recipient_id" value="{{ sent_meeting.recipient.id }}">
                                <input type="hidden" name="send_meeting_status" value="{{ sent_meeting.status }}">
                                <input type="hidden" name="acknowledgement" id="acknowledgement">
                                <button type="submit" onclick="document.getElementById('acknowledgement').value='acknowledge';">Acknowledge and remove from list</button>
                            </form>
                        </div>
                    {% elif sent_meeting.status == 'declined' and sent_meeting.acknowledgement == 'pending' %}
                        <button class="sent-meetings-row" data-id="{{sent_meeting.id}}">
                                Meeting request with {{sent_meeting.recipient}}
                        </button>
                        <div class="sent-meetings-popup hidden" id="sent-meetings-popup-{{sent_meeting.id}}">
                            <button class="close-window">X</button>
                            <p>Meeting request with {{sent_meeting.recipient}} has been declined</p>
                            <form class="sent-meeting-acknowledgement" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="form_type" value="sent-meeting-acknowledgement">
                                <input type="hidden" name="sent_meeting_sender_id" value="{{ sent_meeting.sender.id }}">
                                <input type="hidden" name="sent_meeting_recipient_id" value="{{ sent_meeting.recipient.id }}">
                                <input type="hidden" name="send_meeting_status" value="{{ sent_meeting.status }}">
                                <input type="hidden" name="acknowledgement" id="acknowledgement">
                                <button type="submit" onclick="document.getElementById('acknowledgement').value='acknowledge';">Acknowledge and remove from list</button>
                            </form>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</div>
</div>

{% comment %} <div class="chat-header">Chat Messages
    <div class="message-container">
        <input type="text" class="message-input" placeholder="Enter your message">
            <button type="button" class="send-button" onClick=sendMessage() disabled>Send</button>
    </div>
</div>

<div class="chat-background">
    <div class="dm-list">dm list</div>
    <div class="chat-box">select user from button list</div>
</div> {% endcomment %}

<script>
    function updateLocation(url) {
        console.log('update location to:', url);
        window.location.href = url;
    }

document.addEventListener("DOMContentLoaded", function () {
    const openButtons = document.querySelectorAll(".meetings-row");
    openButtons.forEach(button => {
        button.addEventListener('click', function () {
        let id = this.getAttribute("data-id");
        document.getElementById(`meetings-popup-${id}`).classList.toggle('hidden');
        })
    });

    const openButtons2 = document.querySelectorAll(".incoming-meetings-row");
    openButtons2.forEach(button => {
        button.addEventListener('click', function () {
        let id = this.getAttribute("data-id");
        document.getElementById(`incoming-meetings-popup-${id}`).classList.toggle('hidden');
        })
    });

    const openButtons3 = document.querySelectorAll(".sent-meetings-row");
    openButtons3.forEach(button => {
        button.addEventListener('click', function () {
        let id = this.getAttribute("data-id");
        document.getElementById(`sent-meetings-popup-${id}`).classList.toggle('hidden');
        })
    });

    /*const close_window = document.getElementById("close-window")
    close_window.addEventListener('click', function () {
        const popup = document.getElementById(`add-project-popup`);
        popup.classList.toggle('hidden');
    });*/

    const close_popup_buttons = document.querySelectorAll(".close-window")
    close_popup_buttons.forEach(button => {
        button.addEventListener('click', function() {
            const popup = button.parentElement;
            popup.classList.toggle('hidden');
        });
    });

});

    let current_tab = "projects";

    document.getElementById("projects-button").addEventListener('click', function() {
            current_tab = "projects";
    });
    document.getElementById("interests-button").addEventListener('click', function() {
            current_tab = "interests";
    });
    document.getElementById("ideas-button").addEventListener('click', function() {
            current_tab = "ideas";
    });

    document.getElementById('add-project').addEventListener('click', function () {
    if (current_tab === 'projects') {
        document.getElementById('add-project-popup').classList.toggle('hidden');
    } else if (current_tab === 'interests') {
        document.getElementById('add-interest-popup').classList.toggle('hidden');
    } else if (current_tab ==='ideas') {
        document.getElementById('add-idea-popup').classList.toggle('hidden');
    }
    });

    /*let add_button = document.getElementById("add-project")
    add_button.addEventListener('click', function () {
        const popup = document.getElementById(`add-project-popup`);
        popup.classList.toggle('hidden');
    });*/

    const ideas_button = document.getElementById("ideas-button");
    const interests_button = document.getElementById("interests-button");
    const projects_button = document.getElementById("projects-button");
    function showIdeas() {
        const projectsBox = document.querySelector(".projects-box");
        projectsBox.classList.add("hidden");
        const interestsBox = document.querySelector(".interests-box");
        interestsBox.classList.add("hidden");
        const ideasBox = document.querySelector(".ideas-box");
        ideasBox.classList.remove("hidden");
        ideas_button.style.backgroundColor = "grey";
        projects_button.style.backgroundColor = "#fff";
        interests_button.style.backgroundColor = "#fff";
    }

    function showInterests() {
        const projectsBox = document.querySelector(".projects-box");
        const ideasBox = document.querySelector(".ideas-box");
        projectsBox.classList.add("hidden");
        ideasBox.classList.add("hidden");
        const interestsBox = document.querySelector(".interests-box");
        interestsBox.classList.remove("hidden");
        interests_button.style.backgroundColor = "grey";
        projects_button.style.backgroundColor = "#fff";
        ideas_button.style.backgroundColor = "#fff";
    }

    function showProjects() {
        const projectsBox = document.querySelector(".projects-box");
        projectsBox.classList.remove("hidden");
        const interestsBox = document.querySelector(".interests-box");
        const ideasBox = document.querySelector(".ideas-box");
        interestsBox.classList.add("hidden");
        ideasBox.classList.add("hidden");
        projects_button.style.backgroundColor = "grey";
        interests_button.style.backgroundColor = "#fff";
        ideas_button.style.backgroundColor = "#fff";

    }
</script>

<script>
    function showForm() {
        document.getElementById("edit-profile-info-form").style.display = "block";  // Show form
        document.getElementById("profile-info-container").style.display = 'none'; // Hide "Edit" button
    }
</script>


{% comment %} {{user.id|json_script:"user_id"}} {% endcomment %}
{% comment %} 
<script>
    // wait for DOM to load
    let sendButton = null;
    document.addEventListener('DOMContentLoaded', function() {
        // Your code to run since DOM is loaded and ready
        console.log("DOM loaded");
        sendButton = document.querySelector(".send-button");
    });

    // chat elements
    const chatBackground = document.querySelector('.chat-background');
    const dmList = document.querySelector('.dm-list');
    const chatbox = document.querySelector('.chat-box');
    let socket;

    // event listenter for socket initialization

    // user info
    const user_id = JSON.parse(document.getElementById('user_id').textContent);
    let current_user = new Object();

    // get current logged in user info
    fetch(`/api/get-profile/${user_id}?format=json`)
        .then(response => response.json())
        .then(data => {
            current_user.first_name = data.first_name;
            current_user.last_name = data.last_name;
            current_user.email = data.email;
            current_user.id = data.id;
        });
    

    // render dm list
    fetch(`/api/get-rooms/${user_id}?format=json`)
        .then(response => response.json())
        .then(data => {
            // get all chatrooms that user is in and render them as buttons
            data.forEach(room => {

                // get the name of the other user in the chatroom
                let newChatroomname = room.users[1 - room.users.findIndex(user => user.id === user_id)].first_name;

                const newChatroom = document.createElement('button');
                newChatroom.innerHTML = newChatroomname;
                
                newChatroom.addEventListener('click', () => {
                    // disable send button
                    newChatroom.disabled = true;

                    // enable every other button
                    const chatroomButtons = document.querySelectorAll('button');
                    chatroomButtons.forEach(button => {
                        if (button !== newChatroom) {
                            button.disabled = false;
                        }
                    });

                    // close existing socket
                    if (socket) {
                        socket.close();
                        console.log('previous socket closed');
                    }

                    // get chat history
                    console.log('selected chatroom:', room);
                    fetch(`/api/get-chathistory/${room.room_id}?format=json`)
                        .then(response => response.json())
                        .then(data => {
                            // render chat history in chatbox depending on selected chatroom
                            //console.log('chat history:', data);
                            // empty chatbox
                            chatbox.innerHTML = '';

                            let receiver_id = room.users[1].id;
                            data.forEach(chat => {
                                const newChat = document.createElement('div');
                                newChat.innerHTML = `<div class="message">${chat.sender.first_name}: ${chat.messageContent}</div>`;
                                chatbox.appendChild(newChat);
                            });
                            chat_type = "text";
                            socket = new WebSocket(
                                'ws://'
                                + window.location.host
                                + '/ws/chat/text/'
                            );
                            waitForOpenSocket(socket).then(() => {
                                console.log('socket opened');
                                // on message received
                                socket.onmessage = function(event) {
                                    const message = JSON.parse(event.data)
                                    // add message to chat history
                                    const messageDiv = document.createElement('div');
                                    messageDiv.innerHTML = `<div class="message">${message.sender}: ${message.message}</div>`;
                                    chatbox.appendChild(messageDiv);
                                };
                                // on socket open
                                socket.onopen = function(event) {
                                    console.log("WebSocket connection opened");
                                    sendButton.disabled = false;
                                    socket.send(JSON.stringify({
                                        "profile_id": room.users[1 - room.users.findIndex(user => user.id === user_id)].id,
                                    }));
                                };
                            });
                        });
                });
                dmList.appendChild(newChatroom);
            })
        });
    // wait for socket to open
        function waitForOpenSocket(socket) {
            return new Promise((resolve, _reject) => {
                console.log('waiting for socket to open');
                while (socket === null) { /* no-op */ }
                return resolve()
            });
        }
    // send message
    function sendMessage() {
        const messageInput = document.querySelector('.message-input');
        const message = messageInput.value;
        const everything = {
                "message": message,
                "sender": current_user.first_name,
                "sender_full_name": current_user.first_name + ' ' + current_user.last_name,
                "sender_id" : current_user.id,
            }

        if (message.trim() !== '') {
            socket.send(JSON.stringify({"text": everything}));
            messageInput.value = '';
        }
    }
    
</script> {% endcomment %}
{% endblock %}
