{% extends 'base.html' %}
{% block content %}
<div class="profile-data">
    {% if user.elevator_pitch %}
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="form_type" value="video_remove">
            <button type="submit "id="remove-button">Remove</button>
        </form>
        <video id="elevator-pitch-video" controls>
            <source src="{{ user.elevator_pitch.url }}" type="video/mp4">
        </video>
    {% else %}
        <div class="video-placeholder">
            <div class="video-upload-form-container">
                <form method="post" enctype="multipart/form-data" class="video-upload-form">
                    {% csrf_token %}
                    <input type="hidden" name="form_type" value="video_upload">
                    <input type="file" name="elevator_pitch" accept="video/*" required>
                    <button type="submit">Upload Video</button>
                </form>
            </div>
        </div>
    {% endif %}
    <div class="profile-info">
        <p><b>Name:</b> {{user.first_name}}</p>
        <p><b>Status:</b> {{user.status}}</p>
        <p><b>City:</b> {{user.city}}</p>
        <button type="submit">Edit Personal Info</button>
    </div>
    <div class="spacer"></div>
    <div class="meetings-list">
        <header class="meeting-headers">Upcoming Meetings</header>
        <div class="upcoming-meetings-box">
                {% comment %} {% for meeting in meetings %}
                {% if meeting.sender.id == user.id %}
                    <a href="video_chat/{{ meeting.room_token }}">{{meeting.date}} at {{meeting.start_time}} to {{meeting.end_time}} Meeting with {{ meeting.recipient.first_name }} at video chat</a><br>
                {% else %}
                    <a href="video_chat/{{ meeting.room_token }}">{{meeting.date}} at {{meeting.start_time}} to {{meeting.end_time}} Meeting with {{ meeting.sender.first_name }} at video chat</a><br>
                {% endif %}
                {% endfor %} {% endcomment %}
                {% for meeting in meetings %}
                <button class="meetings-row" data-id="{{meeting.id}}">
                {% if meeting.sender.id == user.id %}
                    {{meeting.date}} at {{meeting.start_time}} to {{meeting.end_time}} Meeting with {{ meeting.recipient.first_name }} at video chat
                {% else %}
                    {{meeting.date}} at {{meeting.start_time}} to {{meeting.end_time}} Meeting with {{ meeting.sender.first_name }} at video chat
                {% endif %}
                </button>
                <div class="meetings-popup hidden" id="meetings-popup-{{meeting.id}}">
                    <button class="close-window">X</button>
                    <p>{{meeting.sender}} and {{meeting.recipient}}'s Meeting Information</p>
                    <p>Time: {{meeting.start_time}} - {{meeting.end_time}}</p>
                    <p>Description: {{meeting.description}}</p>
                    {% if meeting.type == 'video' %}
                        <p>Location: <a href="video_chat/{{ meeting.room_token }}">{{meeting.type}}</a></p>
                    {% elif meeting.type == 'in-person' %}
                        <p>Location: location to be added when meeting algorithom done </p>
                    {% endif %}
                </div>
                {% endfor %}
        </div>
    </div>
</div>

<div class="projects-and-requests">
    <div class="projects">
        <div class="projects-header">Projects
            <button id="add-project">&#43;</button>
        </div>
        <div class="projects-box">
            {% for project in projects %}
            <div class="project-rows">
                <header>{{project.title}}</header>
                <p>Visibility: {{project.visibility}}</p>
                <p>Description: {{project.description}}</p>
            </div>
            <div class="add-project-popup hidden" id="add-project-popup">
                <button class="close-window">X</button>
                <form class="add-project" method="post">
                    <input type="hidden" name="form_type" value="add_project">
                    {% csrf_token %}
                    {{ project_creation_form.as_p }}
                    <button type="submit">Create</button>
                </form>
                </div>   
            {% endfor %}
        </div>
    </div>
    <div class="spacer"></div>
    <div class="incoming-and-sent-invites">
        <div class="incoming-meeting-invites">
            <header class="meeting-headers">Incoming Meeting Invites</header>
            <div class="incoming-meetings-box">
            {% for meeting_request in meeting_requests %}
            {% if meeting_request.status == "pending" %}
                {% if meeting_request.sender.id != user.id %}
                <button class="incoming-meetings-row" data-id="{{meeting_request.id}}">
                    {{ meeting_request.sender.first_name }} wants to meet with you
                </button> 
                <div class="incoming-meetings-popup hidden" id="incoming-meetings-popup-{{meeting_request.id}}">
                    <button class="close-window">X</button>
                    <p>{{ meeting_request.sender.first_name }} want to me with you!</p>
                    <p>Proposed Time: {{meeting_request.start_time}} - {{ meeting_request.end_time }}</p>
                    <p>Message: {{meeting_request.message}}</p>
                    <p>Location: location to be added when meeting algorithom done</p>
                    <form class="meeting-request-decision" method="post">
                        <input type="hidden" name="form_type" value="meeting_request_decision">
                        {% csrf_token %}
                        <input type="hidden" name="meeting_request_sender_id" value="{{ meeting_request.sender.id }}">
                        <input type="hidden" name="meeting_request_recipient_id" value="{{ meeting_request.recipient.id }}">
                        <button type="submit">Accept</button>
                        <button type="submit" name="decline" value="reject">Decline</button> <!--add in way to decline the meeting but send back meeting request with new details-->
                    </form>
                </div>   
                {% endif %}
            {% endif %}
            {% endfor %}
            </div>
        </div>
        <div class="sent-meeting-invites">
            <header class="meeting-headers">Sent Meeting Invites</header>
            <div class="sent-meetings-box">
                {% for sent_meeting in sent_meetings %}
                <button class="sent-meetings-row" data-id="{{sent_meeting.id}}">
                    Meeting sent to {{sent_meeting.recipient}}
                </button>
                <div class="sent-meetings-popup hidden" id="sent-meetings-popup-{{sent_meeting.id}}">
                    <button class="close-window">X</button>
                    <p>Status: {{sent_meeting.status}}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% comment %} <div class="chat-header">Chat Messages
    <div class="message-container">
        <input type="text" class="message-input" placeholder="Enter your message">
            <button type="button" class="send-button" onClick=sendMessage() disabled>Send</button>
    </div>
</div>

<div class="chat-background">
    <div class="dm-list">dm list</div>
    <div class="chat-box">select user from button list</div>
</div> {% endcomment %}

<script>
document.addEventListener("DOMContentLoaded", function () {
    const openButtons = document.querySelectorAll(".meetings-row");
    openButtons.forEach(button => {
        button.addEventListener('click', function () {
        let id = this.getAttribute("data-id");
        document.getElementById(`meetings-popup-${id}`).classList.toggle('hidden');
        })
    });

    const openButtons2 = document.querySelectorAll(".incoming-meetings-row");
    openButtons2.forEach(button => {
        button.addEventListener('click', function () {
        let id = this.getAttribute("data-id");
        document.getElementById(`incoming-meetings-popup-${id}`).classList.toggle('hidden');
        })
    });

    const openButtons3 = document.querySelectorAll(".sent-meetings-row");
    openButtons3.forEach(button => {
        button.addEventListener('click', function () {
        let id = this.getAttribute("data-id");
        document.getElementById(`sent-meetings-popup-${id}`).classList.toggle('hidden');
        })
    });

    const add_project_button = document.getElementById("add-project")
    add_project_button.addEventListener('click', function () {
        const popup = document.getElementById(`add-project-popup`);
        popup.classList.toggle('hidden');
    });

    /*const close_window = document.getElementById("close-window")
    close_window.addEventListener('click', function () {
        const popup = document.getElementById(`add-project-popup`);
        popup.classList.toggle('hidden');
    });*/

    const close_popup_buttons = document.querySelectorAll(".close-window")
    close_popup_buttons.forEach(button => {
        button.addEventListener('click', function() {
            const popup = button.parentElement;
            popup.classList.toggle('hidden');
        });
    });

});
</script>


{% comment %} {{user.id|json_script:"user_id"}} {% endcomment %}
{% comment %} 
<script>
    // wait for DOM to load
    let sendButton = null;
    document.addEventListener('DOMContentLoaded', function() {
        // Your code to run since DOM is loaded and ready
        console.log("DOM loaded");
        sendButton = document.querySelector(".send-button");
    });

    // chat elements
    const chatBackground = document.querySelector('.chat-background');
    const dmList = document.querySelector('.dm-list');
    const chatbox = document.querySelector('.chat-box');
    let socket;

    // event listenter for socket initialization

    // user info
    const user_id = JSON.parse(document.getElementById('user_id').textContent);
    let current_user = new Object();

    // get current logged in user info
    fetch(`/api/get-profile/${user_id}?format=json`)
        .then(response => response.json())
        .then(data => {
            current_user.first_name = data.first_name;
            current_user.last_name = data.last_name;
            current_user.email = data.email;
            current_user.id = data.id;
        });
    

    // render dm list
    fetch(`/api/get-rooms/${user_id}?format=json`)
        .then(response => response.json())
        .then(data => {
            // get all chatrooms that user is in and render them as buttons
            data.forEach(room => {
                console.log('current room:', room.room_id);
                console.log(room)

                // get the name of the other user in the chatroom
                let newChatroomname = room.users[1 - room.users.findIndex(user => user.id === user_id)].first_name;

                const newChatroom = document.createElement('button');
                newChatroom.innerHTML = newChatroomname;
                
                newChatroom.addEventListener('click', () => {
                    // disable send button
                    newChatroom.disabled = true;

                    // enable every other button
                    const chatroomButtons = document.querySelectorAll('button');
                    chatroomButtons.forEach(button => {
                        if (button !== newChatroom) {
                            button.disabled = false;
                        }
                    });

                    // close existing socket
                    if (socket) {
                        socket.close();
                        console.log('previous socket closed');
                    }

                    // get chat history
                    console.log('selected chatroom:', room);
                    fetch(`/api/get-chathistory/${room.room_id}?format=json`)
                        .then(response => response.json())
                        .then(data => {
                            // render chat history in chatbox depending on selected chatroom
                            console.log('chat history:', data);
                            // empty chatbox
                            chatbox.innerHTML = '';

                            let receiver_id = room.users[1].id;
                            console.log(typeof receiver_id);
                            data.forEach(chat => {
                                const newChat = document.createElement('div');
                                newChat.innerHTML = `<div class="message">${chat.sender.first_name}: ${chat.messageContent}</div>`;
                                chatbox.appendChild(newChat);
                            });
                            chat_type = "text";
                            socket = new WebSocket(
                                'ws://'
                                + window.location.host
                                + '/ws/chat/text/'
                            );
                            waitForOpenSocket(socket).then(() => {
                                console.log('socket opened');
                                // on message received
                                socket.onmessage = function(event) {
                                    const message = JSON.parse(event.data)
                                    console.log(message);
                                    // add message to chat history
                                    const messageDiv = document.createElement('div');
                                    messageDiv.innerHTML = `<div class="message">${message.sender}: ${message.message}</div>`;
                                    chatbox.appendChild(messageDiv);
                                };
                                // on socket open
                                socket.onopen = function(event) {
                                    console.log("WebSocket connection opened");
                                    sendButton.disabled = false;
                                    socket.send(JSON.stringify({
                                        "profile_id": room.users[1 - room.users.findIndex(user => user.id === user_id)].id,
                                    }));
                                };
                            });
                        });
                });
                console.log('new chatroom:', newChatroom);
                dmList.appendChild(newChatroom);
            })
        });
    // wait for socket to open
        function waitForOpenSocket(socket) {
            return new Promise((resolve, _reject) => {
                console.log('waiting for socket to open');
                while (socket === null) { /* no-op */ }
                return resolve()
            });
        }
    // send message
    function sendMessage() {
        const messageInput = document.querySelector('.message-input');
        const message = messageInput.value;
        const everything = {
                "message": message,
                "sender": current_user.first_name,
                "sender_full_name": current_user.first_name + ' ' + current_user.last_name,
                "sender_id" : current_user.id,
            }
        console.log(everything);

        if (message.trim() !== '') {
            socket.send(JSON.stringify({"text": everything}));
            messageInput.value = '';
        }
    }
</script> {% endcomment %}
{% endblock %}
</html>
