{% extends 'base.html' %}
{% block content %}
    {% comment %} <div class="bio-background"></div>
    <div class="elevator-pitch-video">This is {{profile.first_name}}'s profile page</div> {% endcomment %}
<div class="profile-page-container">
    <div class="profile-page-left-side">
        <div class="profile-data-profile-page">
            {% if profile.elevator_pitch %}
                <video id="elevator-pitch-video" controls>
                    <source src="{{ profile.elevator_pitch.url }}" type="video/mp4">
                </video>
            {% else %}
                <div class="video-placeholder"></div>
            {% endif %}
            <div class="profile-info">
                <div class="profile-info-container" id="profile-info-container">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="favorite" value={{profile.id}}>
                        <button id="add-save-for-later">&star;</button>
                    </form>
                    <p><b>Name:</b> {{profile.first_name}}</p>
                    <p><b>City:</b> {{profile.city}}</p>
                    <p><b>Meeting Preference:</b> {{profile.meeting_preference}}</p>
                    <p><b>Status:</b> {{profile.status}}</p>
                    {% if profile.status == 'creator' %}<p><b>Willing to Contribute to Another's Project:</b> {{profile.open_to_contributing}}{% endif %}</p>
                </div>
            </div>
        </div>
        <div class="projects">
            <div class="projects-header">Projects</div>
            <div class="projects-box">
                {% for project in projects %}
                <div class="project-rows">
                    <header>{{project.title}}</header>
                    <p>Visibility: {{project.visibility}}</p>
                    <p>Description: {{project.description}}</p>
                </div>
                <div class="add-project-popup hidden" id="add-project-popup">
                    <button class="close-window">X</button>
                    <form class="add-project" method="post">
                        <input type="hidden" name="form_type" value="add_project">
                        {% csrf_token %}
                        {{ project_creation_form.as_p }}
                        <button type="submit">Create</button>
                    </form>
                    </div>   
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="spacer"></div>

    <form class= "meeting-request-form" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" id="send-meeting-request" onclick="sendMeetingRequest(this)">Send Meeting Request</button>
    </form>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="statistics">Statistics
    </div>
</div>



{{profile.id|json_script:"profile_id"}}
{{user.id|json_script:"sender_id"}}
{{user.is_authenticated|json_script:"is_authenticated" }};

<script>
    const is_authenticated = JSON.parse(document.getElementById('is_authenticated').textContent);
    // wait for DOM to load
    document.addEventListener('DOMContentLoaded', function() {
        console.log("DOM loaded");
        // make sure DOM is loaded
        const sendButton = document.querySelector('.send-button');
        sendButton.disabled = !is_authenticated;
    });

    // user authentication
    if (is_authenticated) {
        // chat elements
        const chatBackground = document.querySelector('chat-background');
        const chatbox = document.querySelector('.chat-box');

        const profile_id = JSON.parse(document.getElementById('profile_id').textContent);
        let profile_user = new Object();
        // get profile user info
        fetch(`/api/get-profile/${profile_id}?format=json`)
            .then(response => response.json())
            .then(data => {
                console.log('data:', data.address);
                profile_user.first_name = data.first_name;
                profile_user.last_name = data.last_name;
                profile_user.email = data.email;
                profile_user.id = data.id;
                profile_user.address = data.address;
            });

        const sender_id = JSON.parse(document.getElementById('sender_id').textContent);
        let current_user = new Object();
        // get current logged in user info
        fetch(`/api/get-profile/${sender_id}?format=json`)
            .then(response => response.json())
            .then(data => {
                console.log('data:', data.address);
                current_user.first_name = data.first_name;
                current_user.last_name = data.last_name;
                current_user.email = data.email;
                current_user.id = data.id;
                current_user.address = data.address;
            });
        
        // render chat history
        let selectedChatroom = null;
        fetch(`/api/get-rooms/${sender_id}?format=json`)
            .then(response => response.json())
            .then(data => {
                console.log("select room:", data)
                // does chat room exist?
                console.log('data:', data[0].users[0].id)
                
                console.log('sender id:', sender_id)

                // go through users in chatroom, find both users in the chatroom, and get the room_id
                const selectedChatroom = data.find(room => 
                    room.users.some(user => user.id === profile_id) && 
                    room.users.some(user => user.id === sender_id)
                )?.room_id;

                console.log("select chat:", selectedChatroom)
                if (selectedChatroom) {
                    fetch(`/api/get-chathistory/${selectedChatroom}?format=json`)
                        .then(response => response.json())
                        .then(data => {
                            console.log(data)
                            data.forEach(message => {
                                const messageDiv = document.createElement('div');
                                messageDiv.innerHTML = `<div class="message">${message.sender.first_name}: ${message.messageContent}</div>`;
                                chatbox.appendChild(messageDiv);
                            });
                        }); 
                }
            })

        
        // create socket connection
        const socket = new WebSocket(
                'ws://'
                + window.location.host
                + '/ws/chat/text/'
            );
        

        // on message received
        socket.onmessage = function(event) {
            const message = JSON.parse(event.data)
            console.log(message, "message");
            console.log("hello")

            // add message to chat history
            const messageDiv = document.createElement('div');
            messageDiv.innerHTML = `<div class="message">${message.sender}: ${message.message}</div>`;
            chatbox.appendChild(messageDiv);
        };

        // on socket open
        socket.onopen = function(event) {
            console.log("WebSocket connection opened");
            socket.send(JSON.stringify({
            "profile_id": profile_id,
            }));
        };

        function sendMessage() {
            const messageInput = document.querySelector('.message-input');
            const message = messageInput.value;
            const everything = {
                    "message": message,
                    "sender": current_user.first_name,
                    "sender_full_name": current_user.first_name + ' ' + current_user.last_name,
                    "sender_id" : sender_id,
                }
            console.log(everything);

            if (message.trim() !== '') {
                socket.send(JSON.stringify({"text": everything}));
                messageInput.value = '';
            }
        }

        function createInPersonMeeting() {
            console.log('Current User Address:', current_user.address);
            console.log('Profile Address:', profile_user.address);

            // to-do: logic if no address is attached to the profiles
            if (current_user.address && profile_user.address) {
                fetch('/meetup_point/find_halfway', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        "addressOne": current_user.address,
                        "addressTwo": profile_user.address
                    })
                }).then(response => response.json())
                .then(data => {
                    window.location.href = data.redirect_url;
                })
                .catch(error => console.error('Error:', error));
            }
        }

        function createVideoMeeting() {
            console.log('Video meeting requested');
        }

        function sendMeetingRequest(button) {
            //button.disabled = true;

            // grab form info
            const formData = new FormData(document.querySelector('.meeting-request-form'));
            const formObject = {};
            formData.forEach((value, key) => {
                console.log(key, value);
                formObject[key] = value;
            });

            switch (formObject['type']) {
                case 'in-person':
                    console.log('In-person meeting requested');
                    //createInPersonMeeting();
                    break;
                case 'video':
                    console.log('Video meeting requested');
                    //createVideoMeeting();
                    break;
                default:
                    console.log('Unknown meeting type');
            }
                
        }
    } else {
        console.log('User not authenticated');

        // make sure DOM is loaded

        const sendButton = document.querySelector('.send-button');
        
    }

</script>
{% endblock %}