{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styling.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet">
    <title>DevHub.io</title>
</head>

<body>
    <div class="container">
        <div class="website-header">
            <div class="title">
                <a href="#">DevHub.io</a>
            </div>
        </div>

        <br><br><br><br>
        <div class="bio-background"></div>
        <div class="elevator-pitch-video">This is {{profile.first_name}}'s profile page</div>


        <div class="chat-header">Chat Messages
            <div class="message-container">
                <input type="text" class="message-input" placeholder="Enter your message">
                    <button type="button" class=".send-button" onClick=sendMessage()>Send</button>
            </div>
        </div>

        <div class="chat-background">Chat history
        </div>

</body>


{{profile.id|json_script:"profile_id"}}
{{user.id|json_script:"sender_id"}}


<script>
    const profile_id = JSON.parse(document.getElementById('profile_id').textContent);
    const sender_id = JSON.parse(document.getElementById('sender_id').textContent);
    let current_user = new Object();
    // get current logged in user info
    fetch(`/api/get-profile/${sender_id}?format=json`)
        .then(response => response.json())
        .then(data => {
            current_user.first_name = data.first_name;
            current_user.last_name = data.last_name;
            current_user.email = data.email;
            current_user.id = data.id;
        });
    
    // render chat history
    let selectedChatroom = null;
    fetch(`/api/rooms?format=json`)
        .then(response => response.json())
        .then(data => {
            console.log(data)
            // does chat room exist?
            selectedChatroom = data.find(room => room.roomOwner === profile_id && room.roomClient === sender_id);
            console.log("select chat:", selectedChatroom)
            if (selectedChatroom) {
                fetch(`/api/get-chathistory/${selectedChatroom.room_id}?format=json`)
                    .then(response => response.json())
                    .then(data => {
                        console.log(data)
                        const chatHistory = document.querySelector('.chat-background');
                        data.forEach(message => {
                            const messageDiv = document.createElement('div');
                            messageDiv.innerHTML = `<div class="message">${message.sender.first_name}: ${message.messageContent}</div>`;
                            chatHistory.appendChild(messageDiv);
                        });
                    }); 
            }
        })

    
    // create socket connection
    const socket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/text_chat/'
            + profile_id
            + '/'
        );

    // on message received
    socket.onmessage = function(event) {
        const message = JSON.parse(event.data)
        console.log(message);

        // add message to chat history
        const chatHistory = document.querySelector('.chat-background');
        const messageDiv = document.createElement('div');
        messageDiv.innerHTML = `<div class="message">${message.sender}: ${message.message}</div>`;
        chatHistory.appendChild(messageDiv);
    };

    // on socket open
    socket.onopen = function(event) {
        console.log("WebSocket connection opened");
    };

    function sendMessage() {
        const messageInput = document.querySelector('.message-input');
        const message = messageInput.value;

        if (message.trim() !== '') {
            socket.send(JSON.stringify({
                "message": message,
                "sender": current_user.first_name,
                "sender_full_name": current_user.first_name + ' ' + current_user.last_name,
                "sender_id" : sender_id,
            }));
            messageInput.value = '';
        }
    }

</script>

</html>