<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styling.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet">
    <title>DevHub.io</title>
</head>

<body>
    <div class="container">
        <div class="website-header">
            <div class="title">
                <a href="#">DevHub.io</a>
            </div>
        </div>
        <div class="website-header">
            <div class="profile-link">
                <a href="#">My Profile</a>
            </div>
        </div>
        <br><br><br><br>
        <div class="bio-background"></div>
        <div class="elevator-pitch-video">Elevator Pitch Video</div>
        <span class="search-meeting-spots"><a href="#">Search meeting spots</a></span>
        <div class="repository-header">Name's Repositories</div>
        <div class="repository-background"></div>
        <span class="online">&#128994 Online:</span>
        <span class="join-breakout-room"><a href="#">Join breakout room</a></span>
        <span class="or">or</span>
        <span class="direct-message"><a href="#">Direct Message</a></span>
        <span class="send-offer-for-online-meeting"><a href="#">Send offer for online meeting</a></span>
